/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* Tailwind Configs */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --title-gradient: linear-gradient(90deg, #f4f4f4, #0094ff 33%, #424242);
  }

  html {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .title {
    display: inline;
    font-weight: bold;
    background-image: var(--theme-em-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    place-self: center;
  }

  .nav__link:hover,
  .project-card:hover {
    transform: translate(0, -2px);
  }
}
